@CHARSET "ISO-8859-1";
.menuuu{
	background-color: gray;
	width: 100%;
	box-shadow: 0px 1px 15px black;
}
.bottonn{
	margin-left: -110px;
	width:400px;
	background-color: gray;
		border-radius:40px;
}
.contaainer{
	width: 100%;
	padding: 0px;
}
.containerr{
	width:100%;
	margin:20px;
	
	
}
.contmayor{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.botonCR{
	width: 100%;
}

.codiigo{
	width:100%;
	height:100px;
	background-color:gray;
	display:flex;
	justify-content:center;
	align-items:center;
	color: white;
	font-family: monospace;
	border-radius:15px;
	
	text-shadow: 0px 0px 2px black;
	font-size: 1.3rem;
	
}
