
<div class="row" ng-controller="aprobarRegistroController">
<label style="visibility:hidden;">{{us | cambiar}}</label>

	<div>
		<h1>Ventana Aprobar Registro</h1>
		<button type="button" class="btn btn-default" style="background-color: #337AB7" ng-click="confirmar()">Guardar Cambios</button>
	</div>

	<table class="table table-bordered">
		<tr style="background-color: #337AB7">
			<th>Docente</th>
			<th>Asignatura</th>
			<th>Registro</th>
			<th>Aprobar</th>
			<th>Comentario</th>
		</tr>

		<tr ng-repeat="r in registrosDA">
			<td>{{r.sesion.curso.docente.nombre}} {{r.sesion.curso.docente.apellido}}</td>
			<td>{{r.sesion.curso.asignatura.nombre}}</td>
			<td>{{r.sesion.dia}} - HI:{{r.sesion.horaInicial}} - HF:{{r.sesion.horaFinal}}</td>
			<td><input type="checkbox"
				class="btn btn-info btn-lg" id="{{r.id}}"> Aprobar</td>
				<td><input type="button"
				class="btn btn-default" style="background-color: #337AB7" data-toggle="modal"
				data-target="#myModal" ng-click="agregarComentario(r)" value="Agregar Comentario"></td>
		</tr>

	</table>

	<div class="container">
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Comentario</h4>
					</div>
					<div class="modal-body">
						<textarea id="comentario" rows="5" cols="50"
							style="margin: 0px; width: 536px; height: 158px;"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" style="background-color: #337AB7" ng-click="guardarComentario()">Guardar</button>
						<button type="button" class="btn btn-default"
							style="background-color: #337AB7" data-dismiss="modal"
							ng-click="cerrarComentario()">Cerrar</button>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>

