<div class="contmayor" ng-controller="asignarAccesoController" data-ng-init="listarRoles()">



	<div class="containerr">
	<!--<label style="visibility:hidden;">{{us | cambiar}}</label>-->
		
		<select>
			<option>Seleccione una opcion</option>
			<option ng-repeat="rol in roles">{{rol.descripcion}}</option>
		</select>
		<h2>Lista de Accesos</h2>
		<p>Selecciona que Accesos tendra el Rol</p>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Url</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td><a ng-click="prueba()" class="btn btn-default" role="button"
						style="background-color: #009688;">AGREGAR-PRUEBA</a>
						</p></td>
				</tr>
				<tr>
					<td>Mary</td>
					<td>Moe</td>
					<td><a href="#" class="btn btn-default " role="button"
						style="background-color: #009688;">AGREGAR</a>
						</p></td>
				</tr>
				<tr>
					<td>July</td>
					<td>Dooley</td>
					<td><a href="#" class="btn btn-default" role="button"
						style="background-color: #009688;">AGREGAR</a>
						</p></td>
				</tr>
			</tbody>
		</table>



	</div>
	<div class="containerr">
		<h2>Accesos de el rol</h2>
		<p></p>
		<table class="table">
			<thead>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td><a href="#" class="btn btn-default" role="button"
						style="background-color: #009688;">ELIMINAR</a>
						</p></td>
				</tr>
				<tr>
					<td>Mary</td>
					<td>Moe</td>
					<td><a href="#" class="btn btn-default " role="button"
						style="background-color: #009688;">ELIMINAR</a>
						</p></td>
				</tr>
				<tr>
					<td>July</td>
					<td>Dooley</td>
					<td><a href="#" class="btn btn-default" role="button"
						style="background-color: #009688;">ELIMINAR</a>
						</p></td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="#" class="btn btn-default botons" role="button"
		style="background-color: #009689; color: white;">GUARDAR CAMBIOS</a>
	</p>
</div>
