<div class="container" ng-controller="programasDocentesController">
	<h1 class="text-center">PROGRAMAS Y DOCENTES</h1>
	<div class="panel panel-primary">
		<div class="panel-heading">PROGRAMAS</div>

		<table class="table">
			<thead>
				<tr>
					<th>CODIGO</th>
					<th>NOMBRE</th>
					<th>FACULTAD</th>
					<th>VER</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="p in programas">
					<td >{{p.id}}</td>
					<td>{{p.nombre}}</td>
					<td>{{p.facultad.nombre}}</td>
					<td>
						<button class="btn btn-primary" type="submit"
						name="action" ng-click="listardocentes(p.id)">
						   VER DOCENTES
						</button>
					</td>
				</tr>


			</tbody>
		</table>
	</div>


	<br>
	<br>


	<div class="panel panel-primary">
		<div class="panel-heading">DOCENTES</div>
		<table class="table">
			<thead>
				<tr>
					<th>DOCUMENTO</th>
					<th>NOMBRE</th>
					<th>APELLIDO</th>
					<th>VER</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="d in docentes">
					<td>{{d.id}}</td>
					<td>{{d.nombre}}</td>
					<td>{{d.apellido}}</td>
					<td>
						<button class="btn btn-primary" type="button">VER ASIGNATURAS</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

</div>
