<div class="row" ng-controller="registrosController">
<label style="visibility:hidden;">{{us | cambiar}}</label>
	<div class="col-md-12">
		<div class="row">
			<!-- <label style="visibility: hidden;">{{us | cambiar}}</label> -->
			<h4>Registros Anteriores</h4>

			<div class="panel-group" id="accordion" role="tablist"
				aria-multiselectable="true">
				<div class="panel panel-default" ng-repeat="r in registros">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion"
								aria-expanded="true" aria-controls="collapseOne">
								{{r.fecha}} </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in"
						role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<textarea class="form-control" rows="3" ng-model="r.comentario" placeholder="Comentario"></textarea>
							<button type="button" class="btn waves-effect waves-light"
								ng-click="editarRegistro(r)" ng-disabled="{{r.aprobadoCoord || r.aprobadoRH}}">Registrar</button>

						</div>
					</div>
				</div>
			</div>



		</div>
	</div>

</div>