<div ng-controller="semestreController">
		<div align="center" class="container">
			<h3 class="bg-primary">
				CREAR SEMESTRES <span class="label label-default"></span>
			</h3>

 


			<div class="input-group">
				<h4 id="basic-addon1">Fecha
					Inicio</h4> <input type="date" class="form-control" name="fechaInicio"
					placeholder="Fecha" aria-describedby="basic-addon1" style="with: 200px;" ng-model="fecha">

				<button type="submit" name="action"
					class="btn btn-default navbar-btn" ng-click="crearSemestre()">Guardar</button>
			</div>


		</div>

		<br> <br> <br>

		<table class="container">
			<tr>
				<td>
					<div style="width: 370px; margin-top: -170px" class="col-md-12">
						<h4 align="center" style="width: 370px" class="bg-primary">Semestres</h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Año</th>
									<th>Periodo</th>
									<th>Eliminar</th>
									<th>Dias no laborales</th>
								</tr>
							</thead> 
							<tbody>

								<tr ng-repeat="s in semestres">
									<td ng-model="anho">{{s.anho}}</td>
									<td ng-model="periodo">{{s.periodo}}</td>
									<td>
										<button class="btn waves-effect waves-light" type="button"
											data-toggle="modal" name="action"
											data-target="#complete-dialog" style="width: 80px"  ng-click="eliminarSemestre(s)">Eliminar</button>
									</td>
									<td>
										<button class="btn waves-effect waves-light" type="button"
											data-toggle="modal" name="action"
											data-target="#complete-dialog" style="width: 100px" ng-click="listarDiasSemestre(s)">Marcar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td>
					
					<div style="width: 370px; height: 400px" class="col-md-12">
						<h4 class="bg-primary" style="width: 340px" align="center">Dias
							no laborales</h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Fecha</th>
									<th colspan="2">Causa</th>
									<th>Eliminar</th>

								</tr>
							</thead>
							<tbody>

								<tr ng-repeat="d in dias">
									<td>{{d.fecha}}</td>
									<td colspan="2">{{d.causa}}</td>
									<td>
										<button class="btn waves-effect waves-light" type="button"
											data-toggle="modal" name="action"
											data-target="#complete-dialog" style="width: 80px" ng-click="eliminarDia(d)">Eliminar</button>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
					<div ng-show="estado.estado1" style="width: 370px" class="col-md-12">
					<div ng-show="estado.estado1">
						<h4 class="bg-primary" align="center">Marcar dia</h4>
						<span class="input-group-addon" id="basic-addon1">Fecha
							Inicio</span> <input type="date" class="form-control" name="fechaInicio"
							placeholder="Fecha" aria-describedby="basic-addon1" ng-model="fechaNoLaboral"> <br>
						<span class="input-group-addon" id="basic-addon1">Causa</span>
						<textarea class="form-control" name="causa" placeholder="Causa"
							aria-describedby="basic-addon1" ng-model="causa"></textarea>

						<button style="margin-left: 130px" type="button" name="marcar"
							class="btn btn-default navbar-btn" ng-click="marcarDia()" >Marcar</button>
					</div>
					</div>
				</td>
			</tr>
		</table>
	</div>

